.zr-file-uploader{
    .upload-container{
        width: 64px;
        height: 64px;
        line-height: 64px;
        border: 2px dashed #ccc;
        .file-upload-icon{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .compressing{
                position: absolute;
                font-size: 12px;
                font-weight: bolder;
                color: red;
            }
            
            .svg-inline--fa{
                width: 32px;
                height: 32px;
                line-height: 32px;
                font-size: 30px;
                color: #a0a0a0;
            }
        }
    }
    
    .file-list{
        overflow: hidden;
        list-style: none;
        padding: 5px 0px;
        margin: 0px;
        .file{
            overflow: hidden;
            position: relative;
            margin: 0px 5px 5px 0px;
            border: 1px solid #efe9e9;
            background-color: #fdfcfc;
            padding: 3px;
            display: flex;
            align-items: center;
            .fa-remove{
                position: absolute;
                top: 0px;
                right: 0px;
                padding: 8px;
                width: 14px;
                height: 14px;
                color: #ea6767;
                &:hover{
                    color: red;
                }
            }
            img{
                width: 96px;
                height: 96px;
            }
            .link{
                font-size: 12px;
                text-decoration: none;
                font-family: sans-serif;
                color: #434fef;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
            .download{
                .fa-download{
                    cursor: pointer;
                    padding: 0px 5px;
                    width: 14px;
                    height: 14px;
                    color: #528ed0;
                    &:hover{
                        color: #3790f2;
                    }
                }
            }
            .size{
                font-weight: bolder;
                font-family: monospace;
                color: #6c91b9;
                padding: 3px 6px;
            }
        }
    }
    @media (max-width: 720px){
        .file-list{
            img{
                width: 64px !important;
                height: 64px !important;
            }
        }
    }
}
