.zr-image-uploader{
    .image-upload-icon{
        width: 64px;
        height: 64px;
        line-height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px dashed #ccc;
        .svg-inline--fa{
            width: 32px;
            height: 32px;
            line-height: 32px;
            font-size: 30px;
            color: #a0a0a0;
        }
    }
    &>.container{
        .img{
            width: 64px;
            height: 64px;
        }
        .upload {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            height: 64px;
            text-align: center;
            font-size: 30px;
            border: 2px dashed #ccc;
            color: #a0a0a0;
        }
    }
}
